.findme {width: 450px; height: 150px; } 
.findme a {font-family: open sans; font-size: 10px; letter-spacing: 2px; text-transform: uppercase; font-weight: 400; color: #FFF;} 
.findme a:hover {color: #dc1c3b;}